{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <name op="=" value="RHEL-8.2.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set repos %}
  <repo name="pulp_0" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.2/{{ ARCH }}/appstream/os/"/>
  <repo name="pulp_1" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.2/{{ ARCH }}/baseos/os/"/>
  <repo name="pulp_2" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.2/{{ ARCH }}/codeready-builder/os/"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
  <ks_append><![CDATA[
%post
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.2.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append,
               kcov_rhel_xy="82") -}}
