{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.6"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{% set repos %}
    <repo name="pulp_0" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/optional/os"/>
    <repo name="pulp_2" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/debug"/>
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append,
               kcov_rhel_xy="76") -}}
