<task name="/kernel/kdump/setup-nfsdump" role="STANDALONE">
  <fetch url="git://git.host.prod.eng.bos.redhat.com/kernel-tests#kdump/setup-nfsdump"/>
  <params>
    <param name="NFSSERVER" value="kdump.usersys.redhat.com"/>
    <param name="VMCOREPATH" value="/var/www/html/vmcore"/>
    <param name="WEBSERVERBASEURL" value="http://kdump.usersys.redhat.com/vmcore"/>
    {# NOTE(rasibley): Upstream jobs require latest kexec-tools #}
    {% if TREE == "upstream" %}
      <param name="UPGRADE_FC_KDUMP" value="true"/>
    {% endif %}
  </params>
</task>
